/* 全体のスタイル調整 */
* {
  box-sizing: border-box;
}

/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.5;
}

#fileSelect ,#submit{
  position: relative;
  margin: 10px;
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: hsl(15, 70%, 54%);
  background-color: hsl(42, 82%, 83%);
}

#fileElem {
  display: none;
}

#preview {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 20px auto;
  /* background-image: url("../public/no_image_square.jpg"); */
  /* background-size: cover; */
}

#caption {
  display: block;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
