/* 全体のスタイル調整 */
* {
  box-sizing: border-box;
}

/* bodyの初期スタイル調整 */
body {
  font-size: 16px;
  line-height: 1.5;
}

form {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#fileSelect ,#submit{
  position: relative;
  margin: 10px;
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: hsl(15, 70%, 54%);
  background-color: hsl(42, 82%, 83%);
  border: none;
}

#fileElem {
  display: none;
}

#previewWrap {
  position: relative;
  width: 100%;
}

#previewWrap:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

#caption {
  display: block;
  width: 95%;
  height: 15%;
  margin: 10px auto;
}
